.search {
    background-color: #ffffff;
    position: relative;
    z-index: 0;
}

.img {
    object-fit: contain;
    width: 100vw;
}

body {
    margin: 0;
    padding: 0;
}

.img0 {
    object-fit: contain;
    width: 100vw; 
    height: 100vh; 
}

.containe2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .text {
    font-weight: bold;
    font-size: 32px;
    padding: 30px;
  }
  
  .text0 {
    text-decoration: underline;
    font-size: 24px;
    padding-right: 60px;
    cursor: pointer;
  }
  

.facet-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 600px; /* Optional: Add a max-width to limit the width of the pop-up */
    background-color: #ffffff; /* Set the background color to white */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    border: 1px solid #000000; /* Add border style */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add drop shadow */
  }
  
  .facet-options {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .facet-options label {
    display: block;
    font-size: 16px;
    font-weight: normal;
  }
  
  .facet-options input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .facet-popup .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #000000; /* Set the close button color to black */
  }
  
  .facet-popup .close-button:hover {
    color: #af1717;
  }
  .facet-columns {
    display: flex;
    justify-content: space-between;
  }
  
  .facet-column {
    display: flex;
    flex-direction: column;
  }
  
  .facet-option {
    margin-bottom: 10px;
    margin: 10px;
  }
  
  .validate-button {
    background-color: #af1717; /* Set the background color of the button to red */
    color: #ffffff; /* Set the text color to white */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .validate-button:hover {
    background-color: #cc0000; /* Set the background color of the button on hover */
  }